PORT=5000
RABBITMQ_URL=amqps://xaqhimlw:Spy7YVX8AFrXmjxd_899d-oSIAFy0ckz@fuji.lmq.cloudamqp.com/xaqhimlw
JOB_QUEUE_NAME=codecatalyst_jobs
STATUS_QUEUE_NAME=codecatalyst_status
FRONTEND_ORIGIN=https://<YOUR_FRONTEND_DOMAIN>
