GROQ_API_KEY=<YOUR_GROQ_API_KEY>
GROQ_MODEL=llama-3.1-70b-versatile
RABBITMQ_URL=amqps://<RABBITMQ_USER>:<RABBITMQ_PASSWORD>@<RABBITMQ_HOST>/<RABBITMQ_VHOST>
JOB_QUEUE_NAME=codecatalyst_jobs
STATUS_QUEUE_NAME=codecatalyst_status
CHROMA_HOST=<CHROMA_HOST>
CHROMA_PORT=8000
MAX_LOOPS=3
