GROQ_API_KEY=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
GROQ_MODEL=llama-3.1-70b-versatile
RABBITMQ_URL=amqps://xaqhimlw:Spy7YVX8AFrXmjxd_899d-oSIAFy0ckz@fuji.lmq.cloudamqp.com/xaqhimlw
JOB_QUEUE_NAME=codecatalyst_jobs
STATUS_QUEUE_NAME=codecatalyst_status
CHROMA_HOST=localhost
CHROMA_PORT=8000
MAX_LOOPS=3
