GROQ_API_KEY=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
GROQ_MODEL=llama-3.1-70b-versatile
RABBITMQ_URL=amqp://guest:guest@localhost:5672
JOB_QUEUE_NAME=codecatalyst_jobs
STATUS_QUEUE_NAME=codecatalyst_status
CHROMA_HOST=localhost
CHROMA_PORT=8000
MAX_LOOPS=3
